---
import Layout from "@/layouts/Layout.astro";
import { SITE } from "@/config";
import Header from "@/components/Header.astro";
import Timeline from "@/components/Timeline/Timeline.astro";
import TimelineItem from "@/components/Timeline/TimelineItem.astro";
import Breadcrumbs from "@/components/Breadcrumbs.astro";
import { Icon } from "astro-icon";
import Footer from "@/components/Footer.astro";
---

<Layout title={`Resume | ${SITE.title}`}>
  <Header activeNav="journey" />
  <Breadcrumbs hideOnPrint />

  <main id="main-content">
    <section id="timeline" class="prose max-w-3xl prose-img:border-0">
      <h1 class="text-2xl tracking-wider print:hidden sm:text-3xl">
        My developer journey
      </h1>
      <Timeline>
        <TimelineItem>
          <Fragment slot="left">
            <p class="mb-3 text-base">FI MUNI</p>
            <p class="mb-3 text-base">now</p>
            <p class="mb-3 text-base">-</p>
            <p class="mb-3 text-base">Sep, 2021</p>
          </Fragment>
          <Fragment slot="right">
            <h4 class="mb-3 text-lg font-bold md:text-2xl">Teacher/Student</h4>
            <p
              class="text-gray-50 text-sm leading-snug text-opacity-100 md:text-base"
            >
              Widening my knowledge base on a more theoretical level. Expanding
              my skillset with new technologies. Educating the next generation
              of developers on emerging patterns and best practices in web
              development.
            </p>
          </Fragment>
        </TimelineItem>
        <TimelineItem>
          <Fragment slot="left">
            <h4 class="mb-3 text-lg font-bold md:text-2xl">
              Senior Software developer
            </h4>
            <p
              class="text-gray-50 text-sm leading-snug text-opacity-100 md:text-base"
            >
              Eliminating client-side performance bottlenecks. Delivering
              multiple apps from initial commit to production. Leading a small
              team of talented engineers. Making and acting out critical design
              decisions. Utilizing effective devops practices to reduce friction
              in the development process. Mentoring junior coleagues.
            </p>
          </Fragment>
          <Fragment slot="right">
            <p class="mb-3 text-base">AGRP.DEV</p>
            <p class="mb-3 text-base">Jan, 2022</p>
            <p class="mb-3 text-base">-</p>
            <p class="mb-3 text-base">Apr, 2020</p>
          </Fragment>
        </TimelineItem>
        <TimelineItem>
          <Fragment slot="left">
            <p class="mb-3 text-base">Forseti Home Systems s.r.o.</p>
            <p class="mb-3 text-base">Mar, 2020</p>
            <p class="mb-3 text-base">-</p>
            <p class="mb-3 text-base">Sep, 2019</p>
          </Fragment>
          <Fragment slot="right">
            <h4 class="mb-3 text-lg font-bold md:text-2xl">
              Software developer
            </h4>
            <p
              class="text-gray-50 text-sm leading-snug text-opacity-100 md:text-base"
            >
              Development of a React Native cross-platform mobile app. Designing
              and integrating REST/GraphQL APIs with the frontend. Enforcing
              code quality with automated tools.
            </p>
          </Fragment>
        </TimelineItem>
      </Timeline>
    </section>

    <section>
      <div class="my-16 text-center print:hidden">
        Looking for a printout? <button
          id="print-button"
          class="hover:text-skin-accent"
        >
          Got you covered!
          <Icon name="tabler:download" />
        </button>
      </div>
    </section>
  </main>
</Layout>

<Footer />

<script>
  const printButton = document.querySelector("#print-button");
  printButton?.addEventListener("click", () => {
    window.print();
  });
</script>
