---
import { SOCIALS } from "@/config";
import LinkButton from "./LinkButton.astro";
import SocialIcon from "./SocialIcon.astro";

export type Props = {
  centered?: boolean;
};

const { centered = false } = Astro.props;
---

<div class:list={["flex-wrap justify-center gap-1", centered && "flex"]}>
  {
    SOCIALS.map(social => (
      <LinkButton
        href={social.href}
        className="p-2 hover:rotate-6 sm:p-1"
        title={social.linkTitle}
      >
        <SocialIcon name={social.name} />
      </LinkButton>
    ))
  }
</div>
