---
export type Props = {};
---

<div class="relative my-10">
  <div class="absolute right-1/2 h-full border border-skin-line"></div>
  <div class="absolute left-1/2 h-full border border-skin-line"></div>
  <slot />
</div>
